/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
  }
.notice, .alert{

}
.navbar-right {
  border: 5px solid red;
}

  .img {
max-height: 75px;
display: inline-flex;
  }

  .caption{
font-size: 44px; 
}

  .new_post, .back {
    background-color: #FFFFFF;
    margin-top: 25px;;
   border: none;
   color: white;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   float: right;
   font-size: 20px;
   border-radius: 5px;
   box-shadow: 2px 2px 1px #cccccc;
}

  .sign{
    color: #256c9e;
float: right;
}

  .navbar-default {
    background-color: #fff;
    height: 64px;
    .navbar-nav li a {
      color: #125688;
      text-decoration: none;
      box-shadow: 2px 2px 1px #cccccc;
    }
  }

  .navbar-container {
    width: 640px;
    margin: 0 auto;
  }

  .posts-wrapper {
    padding-top: 40px;
    margin:  auto;
    max-width: 642px;
    width: 100%;
  }

  .post {
    background-color: #fff;
    border-color: #edeeee;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 1px #cccccc;
  }

  .post-head {
    height: 40px;
    padding: 14px 20px;
    color: #125688;
    font-size: 20px;
    line-height: 28px;
    .thumbnail {}
    .name {
      display: block;
    }
  }

  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }

  .caption {
    padding: 24px 24px;
    font-size: 15px;
    line-height: 18px;
  }

  .form-wrapper {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eeefef;
    border-radius: 3px;
  }

  .edit-links {
    margin-top: 20px;
    margin-bottom: 40px;
  }
